services:
  - type: web
    name: n8n
    env: docker
    plan: free
    region: oregon
    envVars:
      - key: DB_TYPE
        value: postgresdb
      - key: N8N_HOST
        value: 0.0.0.0
      - key: N8N_PORT
        value: 5678
      - key: WEBHOOK_URL
        fromService:
          name: n8n
          type: web
          property: url
